body {
  background-color: "";
}

h1 {
  color: cornflowerblue;
}

.clicked {
  color: tomato;
  font-family: "Courier New", Courier, monospace;
}

.hidden {
  display: none;
}
img {
  width: 1280px;
  height: 1028px;
  background-size: 100% 100%;
}
